

.header{
    min-height: 600px;
    background-image: url(../img/newyork.jpg);
    font-size: 20px;
    color: white;
    text-shadow: black solid;

}


.barra{
    min-height: 50px;
background-color: white;
}



.menu{
    font-weight: 800px;
    margin-left: 930px;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 15px;
    color: black;
}

.menu a{
    color: var(--white);
    text-decoration: none;
    padding: 4px;

}


.banner1{
    text-align: center;
    margin: auto;
    padding-right:30%;
    padding-left: 30%;
    padding-top: 12%; 
}

.titulo{
    font-size: var(--sizeheading1);
    font-weight: bolder;
    margin-top: 60px;
}


.texto{
    margin-top: 15px;
    line-height: 21px;
}

@media (max-width:650px){
.banner1{
    padding-right:  15%;
    padding-left: 15%;
    padding-top: 25%;
}
}

